@model OnSales.Web.Data.Entities.TaxesType

<div class="form-group">
    <label asp-for="NameTaxesType" class="control-label"></label>
    <input asp-for="NameTaxesType" class="form-control" />
    <span asp-validation-for="NameTaxesType" class="text-danger"></span>
</div>
