@model OnSales.Web.Data.Entities.TaxesType

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Tipo Impuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTaxesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTaxesType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-info">Listado</a>
</div>
