@model OnSales.Web.Data.Entities.Category

<div class="form-group">
    <label asp-for="NameCategory" class="control-label"></label>
    <input asp-for="NameCategory" class="form-control" />
    <span asp-validation-for="NameCategory" class="text-danger"></span>
</div>
