@model OnSales.Web.Data.Entities.Country

<div class="form-group">
    <label asp-for="NameCountry" class="control-label"></label>
    <input asp-for="NameCountry" class="form-control" />
    <span asp-validation-for="NameCountry" class="text-danger"></span>
</div>
